@page
@model ItemCRUD.Pages.ItemPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Code" class="control-label"></label>
                <input asp-for="Item.Code" class="form-control" />
                <span asp-validation-for="Item.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Type" class="control-label"></label>
                <input asp-for="Item.Type" class="form-control" />
                <span asp-validation-for="Item.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.DisplayName" class="control-label"></label>
                <input asp-for="Item.DisplayName" class="form-control" />
                <span asp-validation-for="Item.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Department" class="control-label"></label>
                <input asp-for="Item.Department" class="form-control" />
                <span asp-validation-for="Item.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.HSN" class="control-label"></label>
                <input asp-for="Item.HSN" class="form-control" />
                <span asp-validation-for="Item.HSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.BuyingUnit" class="control-label"></label>
                <input asp-for="Item.BuyingUnit" class="form-control" />
                <span asp-validation-for="Item.BuyingUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.BuyingUnitPrice" class="control-label"></label>
                <input asp-for="Item.BuyingUnitPrice" class="form-control" />
                <span asp-validation-for="Item.BuyingUnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SellingUnit" class="control-label"></label>
                <input asp-for="Item.SellingUnit" class="form-control" />
                <span asp-validation-for="Item.SellingUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SellingUnitPrice" class="control-label"></label>
                <input asp-for="Item.SellingUnitPrice" class="form-control" />
                <span asp-validation-for="Item.SellingUnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.TaxId" class="control-label"></label>
                <select asp-for="Item.TaxId" class="form-control" asp-items="ViewBag.TaxId"></select>
                <span asp-validation-for="Item.TaxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
